# Apache for "Don't look at me."
Options -Indexes

<IfModule mod_rewrite.c>
  Options +FollowSymlinks
  RewriteEngine On
  RewriteBase /public

  #RewriteCond %{REQUEST_URI} !/static/
  #RewriteRule ^(.+)\.html$ /static/$1.html [L]
  ##RewriteCond $1 !^(index\.php|images|robots\.txt|static)
  ##RewriteRule ^(.*)$ /index.php/$1 [L]


</IfModule>