<!doctype html>
<!--[if lt IE 7]><html lang="en-US" prefix="og: http://ogp.me/ns#" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html lang="en-US" prefix="og: http://ogp.me/ns#" class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html lang="en-US" prefix="og: http://ogp.me/ns#" class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--> <html lang="en-US" class="no-js"><!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>Call – Holly Herndon</title>
  
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>   

  <meta name="description" content="Call – Holly Herndon"/>
  <meta property="og:locale" content="en_US" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Call – Holly Herndon" />
  <meta property="og:description" content="Call – Holly Herndon" />
  <meta property="og:url" content="http://call.hollyherndon.com" />
  <meta property="og:site_name" content="Call – Holly Herndon" />
  <meta property="og:image" content="http://call.hollyherndon.com/4/img.jpg" />

  <link rel="stylesheet" href="css/style.css">

</head>
  <body id='body'>
    <img id='image' src="img.jpg" />    
    <img id='loader' src="img.gif" style='display: none;' />    
    
    <div id='action'>
    <a class='share' target="_blank" href='http://call.hollyherndon.com'><img src='img/share.png' /></a>
      <span class='sharetip'>Share/Embed</span>
    <a class='call' target="_blank" href='http://call.hollyherndon.com'><img src='img/h.png' /></a>
      <span class='calltip'>Call</span>
    </div>

    <audio id="audio">
      <source type='audio/mpeg' src="s/white.mp3" />
      <source type="audio/ogg" src="s/white.ogg" />
    </audio>
    
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="js/embed.js"></script>
   
    <script>
      var _gaq=[['_setAccount','UA-2277673-1'],['_trackPageview'],['_trackPageLoadTime']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
  </body>
</html>